/* .external-css{
    color:red;
}
.inline-css{
    color:burlywood !important ;
}

.blog-title{
    color: white;
    background: blue;
    
} 
.p_10{
    padding: 10px;
}
.p_20{
    padding: 20px;
} */

/* #helloworld{
    color: brown;
}
.blog{
    background-image: url("./img/download.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
.divOne{
    width:300px;
    height: 400px;
    background: green; */
    /* display: inline-block;
}

.divTwo{
    width: 300px;
    height: 400px;
    background: red;
    display: inline-block;
}
.Hulk{
    background:gray;
    padding: 47px 35px 43px 55px;
    position: relative; */
    /* top: 45px;
} */


    



